
@import '../scss/settings/_colors.scss';
@import '../scss/settings/_fonts.scss';

.Loggingout {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        width: 300px;
        color: $color-darkgrey;
        font-family: $font-base;
        font-size: 30px;
        text-align: center;
        letter-spacing: -0.76px;
        font-weight: bold;
       }
       img {
        margin-top:20px;
    }
}

   .Loggingout .link3 {
    margin-top: 10px;
    color: $color-darkgrey;
    font-family: $font-base;
     font-size: 14px;
    text-align: left;
    border: 0.75px solid $color-darkgrey;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    
}