@import '../scss/settings/_colors.scss';
@import '../scss/settings/_fonts.scss';

.ThreeColumns {
    display: flex;
    justify-content: space-around;
    background: url(../assets/ColumnsBackground.png) 0% 0% no-repeat padding-box;
    font-family: $font-base;
}

.Column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
    margin:20px;
    h1{
        margin:10px;
        font-size: 50px;
        color:$color-brown;
    }
    h3{
        margin:10px;
        font-size:16px;
        color:$color-brown;
    }
    p{
        margin:10px;
        font-size:14px;
        color:$color-brown;
    }
}